@import '~@fluentui/react/dist/sass/References.scss';

:global {

  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }

  #spLeftNav {
    display: none !important;
  }

  .b_a_6b55bba6 {
    display: none !important;
  }

  .ControlZone {
    padding: 0 !important;
    margin: 0 !important;
  }

  #workbenchCommandBar {
    display: none !important;
  }

  .sp-appBar {
    display: none !important;
  }

  #CanvasZone {
    padding: 0 !important;
    margin: 0 !important;
  }

  #CanvasZone>div:first-child {
    margin: 0;
    padding: 0;
    max-width: 100% !important;
  }

  #CanvasSection {
    padding: 0 !important;
    margin: 0 !important;
  }


  .CanvasZone {
    padding: 0 !important;
    margin: 0 !important;
  }

  .CanvasZone>div:first-child {
    margin: 0;
    padding: 0;
    max-width: 100% !important;
  }

  .CanvasSection {
    padding: 0 !important;
    margin: 0 !important;
  }

  .CanvasControlToolbar {
    display: none !important;
  }

  // #spCommandBar {
  //   display: none !important;
  // }

  #spSiteHeader {
    display: none !important;
  }

  .commandBarWrapper {
    display: none !important;
  }

  #SuiteNavWrapper {
    position: fixed !important;
  }

  .spAppAndPropertyPanelContainer {
    padding: 0 !important;
  }

  #contentScrollRegion {
    overflow: hidden !important;
  }

  .p_U54gn_1x34n {
    overflow: hidden !important;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #e5e5e5;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #9a9a9a;
    border-radius: 4px;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #828282;
    scrollbar-width: none;
  }
}

.vGuardDms {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.AppContainer {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 5%;

  @media screen and (max-width: 1440px) {
    height: 92vh;
  }
}

.bgContainer {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.mainContainer {
  width: 100%;
  height: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.navItems {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dmsContainer {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #ddd;
  overflow: auto;
}

.dmsInnerContainer {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Navigation styles ....
.navContainer {
  background-color: transparent;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}